<!DOCTYPE html>
<html xmlns= "http://www.thymeleaf.org"
   th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<title th:text="#{product.title}"></title>

</head>
<body >
 <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a th:href="@{/index}">Trang chủ</a></li>
                        <li><a th:href="@{|/shop/${product.category.id }|}">Shop</a></li>
                        <li class="active"><a th:href="@{|/chitiet/${product.id }|}">Sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Product Thumbnail Start -->
           <div class="main-product-thumbnail ptb-100 ptb-sm-60">
            <div class="container">
                <div class="thumb-bg">
                    <div class="row">
                        <!-- Main Thumbnail Image Start -->
                        <div class="col-lg-5 mb-all-40">
                            <!-- Thumbnail Large Image start -->
                            <div class="tab-content">
                                <div id="thumb1" class="tab-pane fade show active">
                                    <a ><img th:src="@{|/img/products/${product.image}|}"  alt="product-view"></a>
                                </div>
                                
                            </div>
                            <!-- Thumbnail Large Image End -->
                            <!-- Thumbnail Image End -->
                           
                            <!-- Thumbnail image end -->
                        </div>
                        <!-- Main Thumbnail Image End -->
                        <!-- Thumbnail Description Start -->
                        <div class="col-lg-7">
                            <div class="thubnail-desc fix">
                                <h3 class="product-header">[[${product.name }]]</h3>
                     
                                <div class="pro-price mtb-30">
                                    <p class="d-flex align-items-center"><span class="price">[[${product.unitPrice }]]₫</span></p>
                                </div>
                         
                                <p class="mb-20 pro-desc-details">[[${product.description }]]</p>
                                <div class="product-size mb-20 clearfix">
                       <!-- <label>Size</label>
                                   <p>${product.size }</p>-->
                                </div>
                            
                                <div class="box-quantity d-flex hot-product2">
                               
                                    <div class="pro-actions">
                                        <div class="actions-primary">
                                            <a href="../add/${product.id}" title="" data-original-title="Thêm vào giỏ hàng"> + Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="pro-ref mt-20">
                                    <p><span class="in-stock"><i class="ion-checkmark-round"></i> TRONG KHO</span></p>
                                </div>
                                <div class="socila-sharing mt-25">
                                    <ul class="d-flex">
                                        <li>Chia sẻ</li>
                                        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a ><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                        <li><a ><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Thumbnail Description End -->
                    </div>
                    <!-- Row End -->
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Product Thumbnail End -->
        <!-- Product Thumbnail Description Start -->
        <div class="thumnail-desc pb-100 pb-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="main-thumb-desc nav tabs-area" role="tablist">
                            <li><a class="active" data-toggle="tab" href="#dtail">Thông tin chi tiết sản phẩm</a></li>
                            
                        </ul>
                        <!-- Product Thumbnail Tab Content Start -->
                        <div class="tab-content thumb-content border-default">
                            <div id="dtail" class="tab-pane fade show active">
                                  <p>[[${product.description }]]</p></div>
                          
                        </div>
                        <!-- Product Thumbnail Tab Content End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Product Thumbnail Description End -->
        <!-- Realted Products Start Here -->
      <div class="hot-deal-products off-white-bg pt-100 pb-90 pt-sm-60 pb-sm-50">
            <div class="container">
               <!-- Product Title Start -->
               <div class="post-title pb-30">
                  <h2>Sản phẩm tương tự</h2>
               </div>
               <!-- Product Title End -->
                <!-- Hot Deal Product Activation Start -->
                <div class="hot-deal-active owl-carousel">
                    <!-- Single Product Start -->
                  <c:forEach var="HoLy" items="${page}">
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                        <a href="chitiet?id=${HoLy.id}">
                          <!--      <img class="primary-img" src="img/products/${HoLy.image1 }" alt="single-product">
                                <img class="secondary-img" src="img/products/${HoLy.image2 }" alt="single-product"> -->
                            </a>
                         <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="pro-info">
                     <h4><a href="chitiet">${HoLy.name }</a></h4>
                                              <p><span class="price">${HoLy.price }₫</span></p>
                             
                            </div>
                            <div class="pro-actions">
                                <div class="actions-primary">
                               <a href="../add/${HoLy.id}" title="Thêm vào giỏ hàng"> + Thêm vào giỏ hàng</a>
                                </div>
                                <div class="actions-secondary">
                           
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    </c:forEach>
                    <!-- Single Product End -->                        
                    <!-- Single Product Start -->
                   
                     
           
              
            
                   

                    <!-- Single Product End -->
                </div>                
                <!-- Hot Deal Product Active End -->

            </div> 
            <!-- Container End -->
        </div>
   
</body>
</html>