<!DOCTYPE html>
<html xmlns= "http://www.thymeleaf.org"
   th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<title th:text="#{order.title}"></title>
</head>
<body>
 <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="trangchu">Trang chủ</a></li>
                        <li><a href="giohang">Giỏ hàng</a></li>
                        <li class="active"><a href="giohang">Đặt hàng</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <br><br><br><br><br><br><br>
    

                            <div class="table-content table-responsive mb-45">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Id</th>
                                            <th class="product-thumbnail">Hình</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng</th>
                                                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                    <tr  ng-repeat="item in cart.items">
                                           <td><span class="amount"><a >{{item.id}}</a></span></td>
                                            <td class="product-thumbnail">
                                                <a href="#"><img th:src="@{|/img/products/{{item.image}}|}" alt="cart-image"></a>
                                            </td>
                                          
                                            <td><span class="amount"><a href="#">{{item.name}}</a></span></td>                                       
                                            <td><span class="amount">{{item.unitPrice | number:0}}₫</span></td>
                                             <td><span class="amount">{{item.qty}}</span></td>
                                      
                                            <td><span class="amount">{{item.unitPrice * item.qty | number:0}}₫</span></td>
                                         
                                        </tr>
                                    
                                    </tbody>
                                </table>
                                <br> <br>
                                <div class ="panel panel-primary">
                                <div class ="panel-heading">ĐẶT HÀNG</div>
                                <br><br>
                                <div class=" panel-body">
                                <div class ="row">
                                <div class="form-group col-sm 6">
                                <div>Người mua:</div>
                                <div class ="form-control" id="id">1</div>
                               
                                </div>
                                   <div class="form-group col-sm 6">
                                <div>Ngày đặt hàng:</div>
                                <div class ="form-control">{{order.oderDate | date:'dd-MM-yyyy'}}</div>
                                </div>
                                </div>
                                <div class="row">
                                
                                 <div class="form-group col-sm 12">
                                 <div>Địa chỉ:</div>
                                 <textarea ng-model="order.address" class="form-control"></textarea>
                                 </div>
                                </div>
                                </div>
                                <div class="panel-footer text-right">
                                <button ng-click="order.purchase()" class="btn btn-success">Đặt hàng</button>
                                </div>
                                </div>
                                     
 
                            </div>
                            
</body>
</html>