<!DOCTYPE html>
<html xmlns= "http://www.thymeleaf.org"
   th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<title th:text="#{cart.title}"></title>
</head>
<body>
 <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                          <li><a th:href="@{/index}">Trang chủ</a></li>
                        <li class="active"><a th:href="@{/giohang}">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Main Area Start -->

                            <!-- Table Content Start -->
                            <div class="table-content table-responsive mb-45" >
                                <table>
                                    <thead>
                                        <tr>
                                        <th class="product-thumbnail">Id</th>
                                            <th class="product-thumbnail">Hình</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng</th>
                                            <th class="product-remove"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                  
                                  
                                   
                              
                                        <tr  ng-repeat="item in cart.items">
                                           <td><span class="amount"><a >{{item.id}}</a></span></td>
                                            <td class="product-thumbnail">
                                                <a href="#"><img th:src="@{|/img/products/{{item.image}}|}" alt="cart-image"></a>
                                            </td>
                                          
                                            <td><span class="amount"><a href="#">{{item.name}}</a></span></td>                                       
                                            <td><span class="amount">{{item.unitPrice | number:0}}₫</span></td>
                                            <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"></td>
                                            <td><span class="amount">{{item.unitPrice * item.qty | number:0}}₫</span></td>
                                            <td class="product-remove"> <a ng-click="cart.remove(item.id)"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                        </tr>
                                   
                                       
                                    
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                            <div class="row">
                               <!-- Cart Button Start -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="buttons-cart" >
                                   
                                        <a href="#" ng-click="cart.clear()">Xóa tât cả sản phẩm</a>
                                        <a th:href="@{/index}">Tiếp tục mua sắm</a>
                                        <a  href="" ng-click="cart.check(cart.count)" >Kiểm tra đơn hàng</a>
                                    </div>
                                </div>
                               
                                </div>
                                <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                     
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                        </form>
                        <!-- Form End -->
                  
                </div>
                 <!-- Row End -->
            </div>
        </div>
  



</body>
</html>