<div class="content-wrapper" style="min-height: 956.275px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Accounts Manager
       
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Quick Example</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputUsername">Username</label>
                  <input ng-model="username" type="text" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input ng-model="password"type="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputFullname">Fullname</label>
                  <input ng-model="fullname" type="text" class="form-control" id="exampleInputFullname" placeholder="Enter Fullname">
                </div>
                <div class="form-group">
                  <label for="exampleInputFullname">Email</label>
                  <input ng-model="email" type="email" class="form-control" id="exampleInputEmail" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input ng-model="photo" type="file" id="exampleInputFile">

                  <p class="help-block">Example block-level help text here.</p>
                </div>
                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
               <button type="submit" class="btn btn-primary" ng-click="accountCreate()" ng-hide="show">Create</button>
				<button type="submit" class="btn btn-primary" ng-click="updateAccount()" ng-hide="!show">Update</button>
				<button type="submit" class="btn btn-danger" ng-click="backToCreate()" ng-hide="!show">Back To Create</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <table id="example2"
					class="table table-bordered table-hover dataTable"
		       role="grid" aria-describedby="example2_info">
		<thead>
			<tr role="row">
			<th class="sorting_asc" tabindex="0"
				aria-controls="example2" rowspan="1" colspan="1"
				aria-sort="ascending"
			aria-label="Rendering engine: activate to sort column descending">Id Account</th>
<th class="sorting" tabindex="0" aria-controls="example2"
		rowspan="1" colspan="1"
aria-label="Browser: activate to sort column ascending">Username</th>
	
	<th class="sorting" tabindex="0" aria-controls="example2"
	rowspan="1" colspan="1"
	aria-label="Platform(s): activate to sort column ascending">Fullname</th>
	<th class="sorting" tabindex="0" aria-controls="example2"
	rowspan="1" colspan="1"
	aria-label="Platform(s): activate to sort column ascending">Email</th>
	
	<th class="sorting" tabindex="0" aria-controls="example2"
	rowspan="1" colspan="1"
	aria-label="Platform(s): activate to sort column ascending">Action</th>
														</tr>
	</thead>
	<tbody>
	<tr role="row" class="odd" ng-repeat="ctg in account | startForm:(currentPage-1) * pageSize| limitTo: pageSize">
	<td class="sorting_1">{{ctg.id}}</td>
	<td>{{ctg.username}}</td>
	<td>{{ctg.fullname}}</td>
	<td>{{ctg.email}}</td>
	
	<td>
    <a href="" ng-click="editAccount(ctg.id,ctg.username,ctg.password,ctg.fullname,
          ctg.email,ctg.photo)">Edit</a>
			|
	<a href="" ng-click="deleteAccount(ctg.id)" >Delete</a>
															
		</td>
		</tr>
													
		</tbody>
													
	</table>
               
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  
  